html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    background: #000000;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: white;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 0px;
    flex-shrink: 0;
}

h2 {
    text-align: center;
    font-size: 1em;
    color: white;
    font-weight: 300;
    flex-shrink: 0;
}

#legend {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    background: #000000;
    padding: 10px;
    margin: 10px;
    width: 150px;
    max-height: 70%;
    overflow-y: auto;
}

#legend h3 {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
    font-size: 2em;
    color: white;
    font-weight: 300;
}

#legend svg {
    vertical-align: middle;
}

#legend-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

a {
    color: #00aaff;
    text-decoration: none;
}

#map {
    flex: 1; /* Allows the map to take up remaining space */
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gm-ui-hover-effect { display: none !important; }

div.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.button {
    border: none;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 8px;
}

.button:hover {
    background-color: rgb(200, 200, 200);
}
.button:active {
    background-color: rgb(150, 150, 150);
}

.small-button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 8px;
    width: 30px;
    height: 30px;
}

.small-button:hover {
    background-color: rgb(200, 200, 200);
}

/* Refresh button */
.refresh-button i {
    transition: transform 0.5s ease;
}

.refresh-button:hover i,
.refresh-button:focus i {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.small-button:active {
    background-color: rgb(150, 150, 150);
}

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}

/* Modal Content/Box */
.modal-content {
    background-color: #000000;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(200, 200, 200);
    text-decoration: none;
    cursor: pointer;
}

.close:active {
    color: rgb(150, 150, 150);
}